<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<style>
		.nav{
			display: inline;
		}
        .logo{
            width: 120px;
            height: 120px;
            border-radius: 50%;
            float: left;
        }
        #container {
            border-bottom: 2px solid black;
            height: 130px;
            margin-top: 20px;
        }
        .view{
            border: solid 1px #ff4401;
            padding: 3px;
            display: inline;
            color: #ff4401;
            margin-right: 5%;
        }
        .item{
            width:266px;
        }
	</style>
  </head>
  <body>
	<div id='nav'>
		<ul class="nav nav-pills">
		<li class="active"><a href="./home">大厅</a></li>
		<li><a href="./myInfo">个人信息</a></li>
		<li><a href="./logList">我的日志</a></li>
		<li><a href="./exit">退出</a></li>	
		</ul>
	</div>
		
		
	<% for(var i=0; i<source.length; i++) { %>  
        <div id="container">

            <img class="logo" src='<%= decodeURIComponent(source[i].logoPath).slice(20) %>'></img>
            <div class="item">昵称：<%= source[i].name %></%=></div>
            <div class="item">年纪：<%= source[i].age %></div>
            <div class="item">性别：<% if(source[i].sex ===0 ) {
                            var a = "男";
                        }else if(source[i].sex === 1) {
                            var a = "女";
                        }else {
                            var a = "其它";
                        } %><%= a %></div>
                        
            <div class="item">取向：<% if(source[i].sexFor ===0 ) {
                            var a = "男";
                        }else if(source[i].sexFor === 1) {
                            var a = "女";
                        }else {
                            var a = "通吃";
                        } %><%= a %></div>   
            <div class="item view" onclick='window.open("./viewLog?id=<%= source[i]._id %>", "_self")'>查看<%= source[i].sex ===0?"他":"她" %>的日志</div> 
            <div class="item view">与<%= source[i].sex ===0?"他":"她" %>聊天</div>            
        </div> 

    <% } %> 

  </body>
</html>
