<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link href="stylesheets/bootstrap.css" rel="stylesheet">
        <link href="stylesheets/home.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/jquery.mobile-1.4.5.css">
        <script src="javascripts/jquery-1.10.2.js"></script>
        <script src="javascripts/jquery.mobile-1.4.5.js"></script>
    </head>
    <body style="width:100%;">
        <div data-role="page">
            <div data-role="panel" id="myPanel"> 
                <img src="<%= decodeURIComponent(user.logoPath).slice(20) || 'img/defaultUser.jpg' %>"></img>
                <ul data-role="listview" data-inset="true">
                  <li><a href="./myInfo">个人信息</a></li>
                  <li><a href="./logList">我的日志</a></li>
                  <li><a href="#">待拓展</a></li>
                </ul>
                <div data-role="footer" data-position="inline">
                    <a href="./exit">注销</a>
                </div>
            </div> 
            <div data-role="header">
                <a href="./exit" class="ui-btn ui-corner-all ui-shadow ui-icon-power ui-btn-icon-left">退出</a>
                <h1><%= title %></h1>
                <a  href="<%= user.userName=="请登录"?'./login':'#myPanel' %>" class="ui-btn ui-corner-all ui-shadow ui-icon-user ui-btn-icon-left"><%= user.userName %></a>
            </div>
                
            <div data-role="content" class="">
                <div data-role="navbar">
                    <ul>
                        <li><a class="ui-btn-active" href="./home">大厅</a></li>
                        <li onclick="window.open('./chatTogether');"><a href="#">群聊</a></li>
                        <!-- <li><a href="./exit">退出</a></li> -->
                    </ul>
                </div>
                <h1 style="color:red;"><%= info %></h1>
                <form class="ui-filterable">
                    <input id="myFilter" data-type="search">
                </form>  
                <ul data-role="listview" data-inset="true" data-filter="true" data-input="#myFilter">
                    <% for(var i=0; i<source.length; i++) { %>  
                            <li class="container22">
                                <a style="position: relative;margin-left: -10px;padding-left: 10px;" href="./viewLog?id=<%= source[i]._id %>" /><img style="position: relative;float: left;border-radius:50%;" src="<%= decodeURIComponent(source[i].logoPath).slice(20) %>" />            <div class="item">昵称：<%= source[i].name %></div>
                                <div class="item">年纪：<%= source[i].age %></div>
                                <div class="item">性别：<% if(source[i].sex ===0 ) {
                                                var a = "男";
                                            }else if(source[i].sex === 1) {
                                                var a = "女";
                                            }else {
                                                var a = "其它";
                                            } %><%= a %></div>
                                            
                                <div class="item">取向：<% if(source[i].sexFor ===0 ) {
                                                var a = "男";
                                            }else if(source[i].sexFor === 1) {
                                                var a = "女";
                                            }else {
                                                var a = "通吃";
                                            } %><%= a %></div> </a>
                                <!-- <img class="logo" src='<%= decodeURIComponent(source[i].logoPath).slice(20) %>'></img> -->

                            </li>       
                        
                    <% } %> 
                <ul>
            </div>
        </div>
    </body>
</html>
