<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="stylesheets/home.css" rel="stylesheet">
  </head>
  <body>
	<div id='nav'>
		<ul class="nav nav-pills">
		<li class="active"><a href="./home">大厅</a></li>
		<li><a href="./myInfo">个人信息</a></li>
		<li><a href="./logList">我的日志</a></li>
		<li><a href="./chatTogether">群聊</a></li>
		<li id="btnLogin"><a href="#"><%= name %></a></li>
		<li><a href="./exit">退出</a></li>
		</ul>
	<!--</div>
	<div id="mask">
    </div>
	 <div id="login">
        <div class="loginCon">
            <div id="close"></div>
        </div>
    </div> -->
    <div id="mainCon">
        <div id="list" style="left:-600px;">
            <img src="img/g5.jpg" alt="5"/>
            <img src="img/g4.jpg" alt="1"/>
            <img src="img/g3.jpg" alt="2"/>
            <img src="img/g2.jpg" alt="3"/>
            <img src="img/g1.jpg" alt="4"/>
            <img src="img/g5.jpg" alt="5"/>
            <img src="img/g4.jpg" alt="1"/>
        </div>
        <div id="buttons">
            <span index="1" class="on"></span>
            <span index="2"></span>
            <span index="3"></span>
            <span index="4"></span>
            <span index="5"></span>
        </div>
        <a href="javascript:;" id="prev" class="arrow">&lt;</a>
        <a href="javascript:;" id="next" class="arrow">&gt;</a>
    </div>
	
	<% for(var i=0; i<source.length; i++) { %>  
        <div id="container">

            <img class="logo" src='<%= decodeURIComponent(source[i].logoPath).slice(20) %>'></img>
            <div class="item">昵称：<%= source[i].name %></%=></div>
            <div class="item">年纪：<%= source[i].age %></div>
            <div class="item">性别：<% if(source[i].sex ===0 ) {
                            var a = "男";
                        }else if(source[i].sex === 1) {
                            var a = "女";
                        }else {
                            var a = "其它";
                        } %><%= a %></div>
                        
            <div class="item">取向：<% if(source[i].sexFor ===0 ) {
                            var a = "男";
                        }else if(source[i].sexFor === 1) {
                            var a = "女";
                        }else {
                            var a = "通吃";
                        } %><%= a %></div>   
            <div class="item view" onclick='window.open("./viewLog?id=<%= source[i]._id %>", "_self")'>查看<%= source[i].sex ===0?"他":"她" %>的日志</div> 
            <div class="item view">与<%= source[i].sex ===0?"他":"她" %>聊天</div>            
        </div> 
    <% } %> 
	<div id="ad">广告位招商</div>
    <script src="javascripts/home.js"> </script>
  </body>
</html>
