<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<style>
		.nav{
			display: inline;
		}
        .logo{
            width: 120px;
            height: 120px;
            border-radius: 50%;
            float: left;
        }
        #container {
            border-bottom: 2px solid black;
            height: 130px;
            margin-top: 20px;
        }
        .view{
            border: solid 1px #ff4401;
            padding: 3px;
            display: inline;
            color: #ff4401;
            margin-right: 5%;
        }
        .item{
            width:266px;
        }
        #mask{
            background: #000;
            opacity: 0.75;
            filter: alpha(opacity=75);
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1000;
        }
        #login{
            position: fixed;
            left: 30%;
            top: 30%;
            z-index: 1002;
        }
        .loginCon{
            width:670px;
            height:380px;
            background: url(img/9.jpg) no-repeat;
            position: relative;
        }
        #close{
            width: 30px;
            height: 30px;
            background: url(img/close.jpg) no-repeat;
            position: absolute;
            right: 5px;
            top: 5px;
            cursor: pointer;

        }
		#ad{
			position: relative;
			bottom: 0px;
			height:200px;
			background: yellow;
			text-align: center;
			line-height: 200px;
			color: red;
			font-size: 50px;
		}
		.container1{
			absolute
		}
        #mainCon{
            width: 600px;
            height: 400px;
            border: 3px solid #333;
            overflow: hidden;
            position: relative;
        }
        #list{
            width: 4200px;
            height: 400px;
            position: absolute;
            z-index: 1;
        }
        #list img{
            float: left;
            width: 600px;
            height: 400px;
        }
        #buttons{
            position: absolute;
            height: 10px;
            width: 100px;
            z-index: 2;
            bottom: 20px;
            left: 250px;
        }
        #buttons span{
            cursor:pointer;
            float: left;
            border: 1px solid #fff;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #333;
            margin-right: 5px;
        }
       #buttons .on{
           background: orangered;
       }
       .arrow{
            cursor: pointer;
            display: none;
            line-height: 39px;
            text-align: center;
            font-size: 36px;
            font-weight: bold;
            width: 40px;
            height: 40px;
            position: absolute;
            z-index: 2;
            top: 180px;
            background-color: RGBA(0,0,0,.3);
            color: #fff;
       }
       .arrow:hover{
            background-color: RGBA(0,0,0,.7);
       }
       #mainCon:hover .arrow{
           display: block;
       }
        #prev{
            left: 20px;
        }
        #next{
            right: 20px;
        }
	</style>
  </head>
  <body>
	<div id='nav'>
		<ul class="nav nav-pills">
		<li class="active"><a href="./home">大厅</a></li>
		<li><a href="./myInfo">个人信息</a></li>
		<li><a href="./logList">我的日志</a></li>
		<li><a href="./chatTogether">群聊</a></li>
		<li id="btnLogin"><a href="#"><%= name %></a></li>
		<li><a href="./exit">退出</a></li>
		</ul>
	<!--</div>
	<div id="mask">
    </div>
	 <div id="login">
        <div class="loginCon">
            <div id="close"></div>
        </div>
    </div> -->
    <div id="mainCon">
        <div id="list" style="left:-600px;">
            <img src="img/g5.jpg" alt="5"/>
            <img src="img/g4.jpg" alt="1"/>
            <img src="img/g3.jpg" alt="2"/>
            <img src="img/g2.jpg" alt="3"/>
            <img src="img/g1.jpg" alt="4"/>
            <img src="img/g5.jpg" alt="5"/>
            <img src="img/g4.jpg" alt="1"/>
        </div>
        <div id="buttons">
            <span index="1" class="on"></span>
            <span index="2"></span>
            <span index="3"></span>
            <span index="4"></span>
            <span index="5"></span>
        </div>
        <a href="javascript:;" id="prev" class="arrow">&lt;</a>
        <a href="javascript:;" id="next" class="arrow">&gt;</a>
    </div>
	
	<% for(var i=0; i<source.length; i++) { %>  
        <div id="container">

            <img class="logo" src='<%= decodeURIComponent(source[i].logoPath).slice(20) %>'></img>
            <div class="item">昵称：<%= source[i].name %></%=></div>
            <div class="item">年纪：<%= source[i].age %></div>
            <div class="item">性别：<% if(source[i].sex ===0 ) {
                            var a = "男";
                        }else if(source[i].sex === 1) {
                            var a = "女";
                        }else {
                            var a = "其它";
                        } %><%= a %></div>
                        
            <div class="item">取向：<% if(source[i].sexFor ===0 ) {
                            var a = "男";
                        }else if(source[i].sexFor === 1) {
                            var a = "女";
                        }else {
                            var a = "通吃";
                        } %><%= a %></div>   
            <div class="item view" onclick='window.open("./viewLog?id=<%= source[i]._id %>", "_self")'>查看<%= source[i].sex ===0?"他":"她" %>的日志</div> 
            <div class="item view">与<%= source[i].sex ===0?"他":"她" %>聊天</div>            
        </div> 
    <% } %> 
	<div id="ad">广告位招商</div>
    <script>
        function openNew(){
            //获取页面高度宽度
            var sHeight = document.documentElement.scrollHeight;
            var sWidth = document.documentElement.scrollWidth;
            //可视区域的高度和宽度
            var wHeight = document.documentElement.clientHeight;
            var wWidth = document.documentElement.clientWidth;//一般与页面相等
            
            var oMask = document.createElement("div");
				oMask.id = "mask";
				oMask.style.height = sHeight + "px";
				oMask.style.width = sWidth + "px";
				document.body.appendChild(oMask);
            var oLogin = document.createElement("div");
				oLogin.id = "login";
				document.body.appendChild(oLogin); 
				oLogin.innerHTML = '<div class="loginCon"><form action="./login" method="post" class="container1">'+
				'<input class="inputArea" type="text" placeholder="请输入账号"   name="userName"/>&nbsp&nbsp&nbsp'+
				'<input class="inputArea" type="password" placeholder="请输入密码"  name="passWord"/>&nbsp'+
				'<input class="login" type="submit" value="登录" />'+
				'<input class="login" id="register" type="submit" value="注册" />'+
				'<input class="login" id="changePassword" type="submit" value="忘记密码" />'+
				'<br/> '+
				'</form><div id="close"></div></div>';
            //获取login的宽度和高度
            var dHeight = oLogin.offsetHeight;
            var dWidth = oLogin.offsetWidth;
				oLogin.style.left = (wWidth-dWidth)/2 + "px";
				oLogin.style.top = (wHeight-dHeight)/2 + "px";
            var oClose = document.getElementById("close");
				oMask.onclick=oClose.onclick = function() {
					document.body.removeChild(oMask);
					document.body.removeChild(oLogin);
				}
			//给注册或则修改密码添加点击事件
			var reg = document.getElementById("register");
			var cpd = document.getElementById("changePassword");
			reg.onclick = function(event){
				event.preventDefault();
				event.stopPropagation();
				window.open("./register", "_self");return false;
			}
			cpd.onclick = function(event){
				event.preventDefault();
				event.stopPropagation();
				window.open("./changePassword", "_self");return false;
			}	
        };
        window.onload = function() {
            var oBtn = document.getElementById("btnLogin");
                oBtn.onclick = openNew;
			//增加轮播图功能
            var mainCon = document.getElementById('mainCon');
            var list = document.getElementById('list');
            var buttons = document.getElementById('buttons').getElementsByTagName('span');
            var prev = document.getElementById('prev');
            var next = document.getElementById('next');
            var index = 1;
            var animated = false;//优化动画性能
            var timer;
            //点亮小圆点
            function showButton() {
                Array.prototype.forEach.call(buttons, function(item) {
                    if(item.className == "on") {
                        item.className = "";
                        return;
                    }
                });
                buttons[index - 1].className = "on";
            }
            function animate(offset) {
                animated = true;
                var newLeft = parseInt(list.style.left) + offset;
                var time = 800;//位移总的时间
                var interval = 10;//位移时间间隔
                var speed = offset/(time/interval);//每次位移量
                
                function go() {
                    var con1 = speed < 0 && parseInt(list.style.left) > newLeft;
                    var con2 = speed > 0 && parseInt(list.style.left) < newLeft;
						if(con1 || con2) {
                        list.style.left = parseInt(list.style.left) + speed + 'px';
                        setTimeout(go, interval);
                    } else {
                        animated = false;
                        list.style.left = newLeft + 'px';
                        //判断是否在辅助图上，归位
                        if(newLeft > -600) {
                            list.style.left = -3000 +'px';
                        }
                        if(newLeft < -3000) {
                            list.style.left = -600 +'px';
                        }                        
                    }
                }
                go();
            }     
            next.onclick = function() {
                if(index == 5) {
                    index = 1;
                }else{
                    index += 1;               
                }
                if(!animated) {
                    animate(-600);               
                }
                showButton();
            };
            prev.onclick = function() {
                if(index == 1) {
                    index = 5;
                }else{
                    index -= 1;               
                }
                if(!animated) {
                    animate(600);               
                }
                showButton();
                
            }; 
            Array.prototype.forEach.call(buttons, function(item) {
                item.onclick = function() {
                    //显示正确，不必执行下面代码，优化性能
                    if(this.className == "on") {
                        return;
                    }
                    //自定义属性getAttribute
                    var myIndex = parseInt(this.getAttribute('index'));
                    if(!animated) {
                        animate(-600*(myIndex-index));               
                    }                    //与上次图片的差值
                    index = myIndex;//index更新数值
                    showButton();
                }
            });
            //自动播放
            function play(){
                timer = setInterval(function(){
                    next.onclick();
                },3000);
            }
            play();
            //删除定时器
            mainCon.onmouseover = function(){
                clearInterval(timer);
            }
            mainCon.onmouseout = play;
			//把mainCon动态居中
			var mOffset = mainCon.offsetWidth;
			mainCon.style.left = (document.documentElement.clientWidth - mOffset)/2 + 'px';
        }
    </script>
  </body>
</html>
