<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<style>
		#logo{
			vertical-align: middle;
			width: 58px;
			height: 40px;
			float: left;
		}
		.nav{
			display: inline;
		}
        .logo{
            width: 120px;
            height: 120px;
            border-radius: 50%;
            float: left;
        }
        #container {
            border-bottom: 2px solid black;
            height: 130px;
            margin-top: 20px;
        }
	</style>
  </head>
  <body>
	<div id='nav'>
		<ul class="nav nav-pills">
		<li class="active"><a href="./home">大厅</a></li>
		<li><a href="./myInfo">个人信息</a></li>
		<li><a href="./logList">我的日志</a></li>
		<li><a href="./exit">退出</a></li>
		<img id='logo'src="/img/4.jpg" class="img-circle">		
		</ul>
	</div>
		
		
	<% for(var i=0; i<source.length; i++) { %>  
        <div id="container">

            <img class="logo" src='<%= decodeURIComponent(source[i].logoPath).slice(20) %>'></img>
            <div>昵称：<%= source[i].name %></%=></div>
            <div>年纪：<%= source[i].age %></div>
            <div>性别：<% if(source[i].sex ===0 ) {
                            var a = "男";
                        }else if(source[i].sex === 1) {
                            var a = "女";
                        }else {
                            var a = "其它";
                        } %><%= a %></div>
                        
            <div>取向：<% if(source[i].sexFor ===0 ) {
                            var a = "男";
                        }else if(source[i].sexFor === 1) {
                            var a = "女";
                        }else {
                            var a = "通吃";
                        } %><%= a %></div>            
        </div>  
    <% } %> 

  </body>
</html>
