<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<style>
		.nav{
			display: inline;
		}
        .logo{
            width: 120px;
            height: 120px;
            border-radius: 50%;
            float: left;
        }
        #container {
            border-bottom: 2px solid black;
            height: 130px;
            margin-top: 20px;
        }
        .view{
            border: solid 1px #ff4401;
            padding: 3px;
            display: inline;
            color: #ff4401;
            margin-right: 5%;
        }
        .item{
            width:266px;
        }
        #mask{
            background: #000;
            opacity: 0.75;
            filter: alpha(opacity=75);
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1000;
        }
        #login{
            position: fixed;
            left: 30%;
            top: 30%;
            z-index: 1002;
        }
        .loginCon{
            width:670px;
            height:380px;
            background: url(img/1.jpg) no-repeat;
            position: relative;
        }
        #close{
            width: 30px;
            height: 30px;
            background: url(img/2.jpg) no-repeat;
            position: absolute;
            right: 5px;
            top: 5px;
            cursor: pointer;

        }
	</style>
  </head>
  <body>
	<div id='nav'>
		<ul class="nav nav-pills">
		<li class="active"><a href="./home">大厅</a></li>
		<li><a href="./myInfo">个人信息</a></li>
		<li><a href="./logList">我的日志</a></li>
		<li><a href="./chatTogether">群聊</a></li>
		<li id="btnLogin"><a href="#"><%= name %></a></li>
		<li><a href="./exit">退出</a></li>
		</ul>
	<!--</div>
	<div id="mask">
    </div>
	 <div id="login">
        <div class="loginCon">
            <div id="close"></div>
        </div>
    </div> -->
	<% for(var i=0; i<source.length; i++) { %>  
        <div id="container">

            <img class="logo" src='<%= decodeURIComponent(source[i].logoPath).slice(20) %>'></img>
            <div class="item">昵称：<%= source[i].name %></%=></div>
            <div class="item">年纪：<%= source[i].age %></div>
            <div class="item">性别：<% if(source[i].sex ===0 ) {
                            var a = "男";
                        }else if(source[i].sex === 1) {
                            var a = "女";
                        }else {
                            var a = "其它";
                        } %><%= a %></div>
                        
            <div class="item">取向：<% if(source[i].sexFor ===0 ) {
                            var a = "男";
                        }else if(source[i].sexFor === 1) {
                            var a = "女";
                        }else {
                            var a = "通吃";
                        } %><%= a %></div>   
            <div class="item view" onclick='window.open("./viewLog?id=<%= source[i]._id %>", "_self")'>查看<%= source[i].sex ===0?"他":"她" %>的日志</div> 
            <div class="item view">与<%= source[i].sex ===0?"他":"她" %>聊天</div>            
        </div> 

    <% } %> 
    <script>
        function openNew(){
            //获取页面高度跨度
            var sHeight = document.documentElement.scrollHeight;
            var sWidth = document.documentElement.scrollWidth;
            //可视区域的高度和宽度
            var wHeight = document.documentElement.clientHeight;
            var wWidth = document.documentElement.clientwidth;//一般与页面相等
            
            var oMask = document.createElement("div");
            oMask.id = "mask";
            oMask.style.height = sHeight + "px";
            oMask.style.width = sWidth + "px";
            document.body.appendChild(oMask);
            var oLogin = document.createElement("div");
            oLogin.id = "login";
            document.body.appendChild(oLogin); 
            oLogin.innerHTML = '<div class="loginCon"><form action="./login" method="post" class="container1">'+
            '<input class="inputArea" type="text" placeholder="请输入账号"  onblur="addId(this);" onfocus="addId(this);" name="userName"/>&nbsp&nbsp&nbsp'+
            '<input class="inputArea" type="password" placeholder="请输入密码" style="display:inline;" onblur="addId(this);" onfocus="addId(this);" name="passWord"/>&nbsp'+
            '<input class="login" type="submit" value="登录" />'+
            //'<input class="login" type="submit" value="注册" onclick='window.open("./register", "_self");return false;' />'+
            //'<input class="login" type="submit" value="忘记密码" onclick='window.open("./changePassword", "_self");return false;' />'+
            '<br/> '+
            '</form><div id="close"></div></div>';
            //获取login的宽度和高度
            var dHeight = oLogin.offsetHeight;
            var dWidth = oLogin.offsetWidth;
            oLogin.style.left = (sWidth-dWidth)/2 + "px";
            oLogin.style.top = (wHeight-dHeight)/2 + "px";
            var oClose = document.getElementById("close");
            oMask.onclick=oClose.onclick = function() {
                document.body.removeChild(oMask);
                document.body.removeChild(oLogin);
            }
        };
        window.onload = function() {
            var oBtn = document.getElementById("btnLogin");
                oBtn.onclick = openNew;
        }
    </script>
  </body>
</html>
