<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <style>
        #myLog{
            float: left;
			height: 100%;
            display: block;

        }
		#hah{
			border-bottom: solid 1px black;
			width:250px;
			margin-bottom: 16px;
		}
		.cont{
			height: 18px;
			overflow: hidden;
		}
        #display{
            margin: auto;
            display: none;
        }
        .inputArea{
            border: 1px solid gray;
            height:30px;
            width:500px;
        }
        .textarea{
            height:380px;
        }
    </style>
  </head>
  <body style="background-image:url(./img/9.jpg);display:flex;">
    <div id="myLog">
		<h1>日志列表</h1>
		<%  for(var i=1; i<=Math.ceil(totalSource.length/8); i++) {%>
			<a value="<%= i %>" href="./viewLog?page=<%= i %>"> <%= i %></a>
		  <%}%>
		<%logSource.forEach(function(item) { %>
		<div id="hah" onclick="displayLog(event);">
			<div class="cont">标题：<%= item.title %></div>
			<div class="cont">作者：<%= item.author %></div>
			<div class="cont">发布时间：<%= item.time.toLocaleString() %></div>
			<div class="cont">内容：<%= item.content %></div>
		</div>
		<% }); %>
		<div style="color:yellow;font-size:40px;" onclick='window.open("./home","_self");return false;'>返回主页</div>
	</div>
    <div id="display">
        <input class="inputArea" type="text" placeholder="标题"  name="title" disabled/><br/><br/>
        <textarea class="inputArea textarea" placeholder="正文" name="content" disabled></textarea><br/><br/>
    </div>
    <script>
        function displayLog(event) {
            var displayNode = document.getElementById("display");
            displayNode.style.display = "block";
            displayNode.childNodes[1].value = event.target.parentNode.childNodes[1].innerText;
            displayNode.childNodes[5].value = event.target.parentNode.childNodes[7].innerText;
            console.log(event.target.parentNode.childNodes);
        }
    </script>
  </body>
</html>
